{% extends 'schedule/layout.html' %}

{% block content %}
  <section>
    <div class="container-fluid p-3 bg-dark text-white text-center">
      <h1>Courses</h1>
    </div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Course Name</th>
        </tr>
      </thead>
      <tbody>
        {% if course_list %}
          {% for course in course_list %}
            <tr >
              <td><a href="{% url 'course:detail' pk=course.pk %}">{{ course.course_name }}</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>No course, sign up for a new course!</td>
          </tr>
        {% endif %}
        <a href="{% url 'course:form' %}">Add a new course</a>
      </tbody>
    </table>
  </section>
{% endblock %}
