<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    <title>Assignments</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Personal Scheduler</a>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarItems"
                  aria-controls="navbarItems"
                  aria-expanded="false" aria-label="Navigation Toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarItems">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'index' %}">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   href="{% url 'assignment_list' %}">
                  Assignments
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="mt-5">
      <div class="container-fluid p-3 bg-dark text-white text-center">
        <h1>Assignments</h1>
        <p>These are all your assignments</p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% if assignment_list %}
            {% for item in assignment_list %}
              <tr>
                <td>{{ item.course }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.date_created }}</td>
                <td>
                  {{ item.due_date }}
                  <a href="{% url 'delete_assignment' item.id %}">delete</a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>No assignments.</td>
            </tr>
          {% endif %}
          <a href="{% url 'assignment_form' %}">Create a new assignment</a>
        </tbody>
      </table>
    </section>
    <footer class="page-footer font-small blue pt-4 text-center fixed-bottom">
      <p>Copyright &copy; 2021 A-22</p>
    </footer>
  </body>
</html>