{% extends 'schedule/layout.html' %}

{% block content %}
  <section>
    <div class="container-fluid p-3 bg-dark text-white text-center">
      <h1>Courses</h1>
    </div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Course Name</th>
        </tr>
      </thead>
      <tbody>
        {% if course_list_view %}
          {% for item in course_list_view %}
            <tr >
              <td>{{ item.course_name }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>No courses.</td>
          </tr>
        {% endif %}
        <a href="{% url 'course_form' %}">Add a new course</a>
      </tbody>
    </table>
  </section>
{% endblock %}
