{% extends 'schedule/layout.html' %}

{% block content %}
  <section class="mt-5">
    <div class="container-fluid p-3 bg-dark text-white text-center">
      <h1>Create Assignment</h1>
      <p>fill in the text boxes and click submit to set an assignment</p>
    </div>
    <form action="{% url 'schedule:create_course'%}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <fieldset>
        {% if error_message %}
          <div class="alert alert-danger">
            <strong>Warning!</strong> Please fill out the text boxes.
          </div>
        {% endif %}
        <label for="course">Course: </label>
        <input id="course" type="text" name="course" maxlength="200"><br><br>
      </fieldset>
      <div>
        <button type="submit" class="btn btn-primary text-white" >
          Submit
        </button>
      </div>
    </form>
  </section>
{% endblock %}
