{% load django_bootstrap5 %}
{% bootstrap_css %}

<div class="container-fluid p-5 bg-dark text-white text-center">
  <h1>Create Assignment</h1>
  <p>Fill in the text boxes and click submit to submit a deep thought!</p>
</div>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'schedule:assignment'  %}">Assignments</a>
</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule:assignment'  %}">Home</a>
      </li>
    </ul>
  </div>
</nav>


<form action="submit_assignment" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<fieldset>
    {% if error_message %}
    <div class="alert alert-danger">
    <strong>Warning!</strong> Please fill out the text boxes.
    </div>
    {% endif %}
    <label for="title">Assignment Title: </label>
    <input id="title" type="text" name="title" value="{{ title }}" maxlength="200"><br><br>
    <label for="thought">Assignment Detail: </label>
    <input id="thought" type="text" name="thought" value="{{ thought }}" size="50" maxlength="2000">
    <label for="date">Due Date: </label>
    <input id="date" type="text" name="date" value="{{ date }}" size="50" maxlength="2000">
</fieldset>
    {% buttons %}
    <button type="submit" class="btn btn-primary text-white" >
      Submit
    </button>
    {% endbuttons %}
  <!--<p>Click the "Submit" button to submit a deep thought".</p>
<input type="submit" value="Submit">-->
</form>


<footer class="page-footer font-small blue pt-4 text-center fixed-bottom">
  <p>A-22 project</p>
</footer>
