{% extends "schedule/layout.html" %}
{% block content %}
{% load static %}
<!--
*  REFERENCES
*  Title: <Sliding Diagonals Background Effect>
*  Author: <Chris Smith>
*  Date: <11/15/2021>
*  Code version: <N/A>
*  URL: <https://codepen.io/chris22smith/pen/RZogMa>
*  Software License: <N/A>
*
-->


<link rel="stylesheet" type="text/css" href="{% static 'schedule/home_style.css' %}">

    <div class="container-fluid p-3 bg-dark bg-gradient text-white text-center">
      <h1></h1>
    </div>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content">
    <h1>Cavalier Calender</h1>
        <div>
        <p>Sign up or click Login to start organizing</p>
        </div>
    </div>

{% endblock %}
